.countriesSuggestions {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;

    padding: 0.5rem;
    border-bottom: 0.1rem solid #282c34;
    border-left: 0.1rem solid #282c34;
    border-right: 0.1rem solid #282c34;
    margin: 0 5rem;
}

span {
    margin-left: 1rem;
    margin-top: auto;
}