.countryInfoLayout {
    margin: auto;
    text-align: center;
    padding: 2rem;
}

img {
    width: 45%;
    height: 75%;
    border: solid black 0.1rem;
    border-radius: 5px;
}

.countryInfo {
    display: flex;
    flex-direction: column;
}